/* You can add global styles to this file, and also import other style files */

html,
body {
	margin: 0;

	width: 100%;
	height: 100%;
}

body {
	padding:
		env(--safe-area-inset-top, 0px)
		env(--safe-area-inset-right, 0px)
		env(--safe-area-inset-bottom, 0px)
		env(--safe-area-inset-left, 0px);
	box-sizing: border-box;
}
